# Adopce zvířat

Stáhni si [adopce-zvirat.csv](https://github.com/JankaMarschalkova/python-podzim-pondeli-2023/blob/main/ukoly/adopce-zvirat.csv), který obsahuje seznam zvířat k adopci v ZOO Praha.

## Zadání

1. Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.
2. Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?
3. Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [2]:
import pandas as pd

adopce_zvirat = "adopce-zvirat.csv"
adopce = pd.read_csv(adopce_zvirat, sep=';')
adopce

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

In [3]:
pocer_radku = adopce.shape[0]
pocet_sloupcu = adopce.shape[1]
nazvy_sloupcu = adopce.columns

print(f"Soubor má {pocer_radku} řádků.")
print(f"Soubor má {pocet_sloupcu} sloupců.")
print(f"Názvy sloupců jsou: {', '.join(nazvy_sloupcu)}")

Soubor má 513 řádků.
Soubor má 6 sloupců.
Názvy sloupců jsou: id, nazev_cz, nazev_en, trida_cz, cena, k_prohlidce

In [7]:
adopce.iloc[34, 1:3]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

## Bonus

Využij metody [sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) (a libovolných dalších metod), ke zjištění následujících informací:

1. Adopce kterých zvířat je nejdražší?
2. Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

In [15]:
nejdrazsi_adopce = adopce.sort_values(by="cena", ascending=False)
print(nejdrazsi_adopce[["nazev_cz", "cena"]].head())

              nazev_cz   cena
114    Tygr sumaterský  50000
113    Tygr ussurijský  50000
272      Tygr malajský  50000
129  Hroch obojživelný  50000
128       Slon indický  50000

In [45]:
from unidecode import unidecode

adopce["nazev_cz"] = adopce["nazev_cz"].apply(unidecode)
adopce.sort_values(by="nazev_cz", ascending=True, inplace=True)
posledni_cz = adopce.tail(1)["nazev_cz"]

adopce.sort_values(by="nazev_en", ascending=True, inplace=True)
posledni_en = adopce.tail(1)["nazev_en"]

print(f"Poslední zvíře abecedně v češtině je: {posledni_cz}")
print(f"Poslední zvíře abecedně v angličtiě je: {posledni_en}")

Poslední zvíře abecedně v češtině je: 303    Zvonek zeleny
Name: nazev_cz, dtype: object
Poslední zvíře abecedně v angličtiě je: 161    Yellow-necked francolin
Name: nazev_en, dtype: object